@import "bootstrap";

.navbar {
  background: black;
  border-radius: 0;
  color: white;

  p {
    margin-top: 16px;
    color: white;
    color: #ffb794;
  }
  .navbar-right {
    a {
      color: white;

      &:hover {
        background: #444;
      }
    }

    margin-right: 10px !important;
  }
}
